
//background-color: #0d2350;
//#ae8fca

:root {
    --background: #131313;
    --widget: #202124;
    --green:#00ebc7;
    --red:#ff5470;
    --purple: #7b2cbf;
  }
  body{
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: scroll;

  }
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.performance{
    
    width: 95vw;
    height: 95vh;
    display: flex;
    margin-top: 1.35em;
    margin-left: -0.95em;
    background-color: var(--background);
   

    .left{
        margin-left: 2em;
        width: 70%;
        height: 91vh;



        .holdings{
            

            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            height: 39em;
            padding: 0.5em;
            margin: 1em;
            margin-top: 1.5em;
            // border-style: solid;
            border-radius: 0.6em;
            // border-color: #8c7851;
            max-height: 39em;
            overflow: auto;
            background-color: var(--widget);
            text-align: center;
            color: #F6F6F6;
            th{
                color: #F6F6F6;
            }
            td{
                color: #F6F6F6;
                
                text-decoration: none;
                
            }
            .green{
                color: var(--green);
            }
            .red{
                color: var(--red);
            }
           
        }

.market{
    background-color: var(--widget);
    margin: 1em;
    display: flex;
    justify-content: space-around;
    // border-style: solid;
    // border-color: #8c7851;
    border-radius: 0.6em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


    .etf{
        height: 6.5em;
        width: 10em;
        margin: 0.5em;
        border-style: solid;
        border-radius: 0.6em;
        padding: 0.5em;
        justify-content: center;
        //overflow: auto;
        .AreaChart{
            
        }
       
        h3{
            margin-top: -0.3em;
            margin-bottom: -0.3em;
            color: white;
        }
  
    }
    .green{
        background-color: #131820;

    }
    .red{
        background-color: #131820;
    }
    .change{
        //background: #ff5470;
        position: relative;
        
        margin-left: 0em;
        margin-top: 0.5em;
        height: 1em;
        margin-bottom: 0em;
        color: white;

        .green{
            color: var(--green);

        }
        .red{
            color: var(--red);
        }
    }
    svg{
        
        margin-left: -0.7em;
        //margin-bottom: -5em;

       

        
       

    }


}
        

    }
    .right{
        width: 30%;
        height: 91vh;
        display: block;
        
        .card{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            //border-color: #8c7851;

            margin: auto;
            margin-top: 1em;
            width: 24em;
            height: 15.1em;
            
            border-radius: 30px;
            //background: black;
            //background-image: url('./components/cards-img/x.png');      
            background-size: contain;
            background-repeat: 1;
            img{
                
            }

            .top{
                display: flex;
                justify-content: space-between;
                margin-left:  2em;
                margin-right: 2em;
                padding-top: 1.5em;

                .visa{
                    width: 1em;
                }
                
            }
            h2{
                padding-top: 0em;
                text-align: left;
                padding-left: 1.1em;
                color: #F6F6F6;
                font-family: 'Inter', sans-serif;
                
                
                
            }
            h3{
                margin-top: -1em;
                text-align: left;
                padding-left: 1.5em;
                color: #F6F6F6;
                font-family: 'Inter', sans-serif;


            }
            h5{
                padding-top: 0.2em;
                padding-bottom: -2em;
                text-align: left;
                padding-left: 2em;
                color: #F6F6F6;
                font-family: 'Inter', sans-serif;

            }
            .chip{
                width: 2.8em;
                position: relative;
                bottom: 4em;
                left: 20em;
                
            }
           
            
            
            
           
        }

        .balance{
            background-color: var(--widget);
            //border-color: #8c7851;

            padding: 0.5em;
            margin: auto;
            margin-top: 1.5em;
            width: 24em;
            height: 15.1em;
            //border-style: solid;
            border-radius: 0.6em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            

            ul{
                list-style: none;
                margin-top: -0.5em;
                li{
                    margin-left:-2em ;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: -0.5em;
                    margin-top: 0.8em;
                    color: #F6F6F6;
                    border-bottom: 1px solid grey;
                }
            }



        }
        .allocation{
            background-color: var(--widget);
            //@error: #8c7851;
            background-color: var(--widget);

            padding: 0.5em;
            margin: auto;
            margin-top: 1.5em;
            width: 24em;
            height: 15.1em;
            //border-style: solid;
            border-radius: 0.6em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            justify-content: center;
            
            
            .Pie{
                width: 24em;
                height: 15.1em;
                 
               margin: auto;
               margin-top: -5.5em;
                margin-left: -1em;
            }

        }

        

    }
}





