body{
    background: #0E1129;
}

.home{
    background: #0E1129;
    width: 100vw;
    height: 100vh;
    color: white;
  font-size: 16px;
  margin: 0 auto;
  position: relative;
 
  //overflow-x: hidden;

    .content{
        font-family: "Spline Sans", sans-serif;
        z-index: 2;
        position: absolute;
  top: 30px;
  width: 100vw;
  padding-bottom: 100px;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 1024px) {
    gap: 40px;
  }

  h1 {
    font-weight: bold;
    font-family: "Spline Sans Mono", monospace;
    font-size: 70px;
    margin: 0;
    max-width: 500px;
    pointer-events: auto;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    @media (max-width: 1024px) {
      font-size: 60px;
      max-width: 400px;
    }
    @media (max-width: 800px) {
      font-size: 40px;
      max-width: 300px;
    }
    @media (max-width: 600px) {
      padding-top: 250px;
    }
  }

  p {
    font-weight: normal;
    line-height: 150%;
    max-width: 380px;
    pointer-events: auto;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  button {
    text-decoration: none;
    
    background: rgba(0, 0, 0, 0.2);
    border: 0px;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 14px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 280px;
    backdrop-filter: blur(20px);
    font-weight: 600;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    :hover {
     
      transform: translateY(-3px);
    }
  }

  h1,
  p,
  button {
    margin: 0 30px 0 100px;

    @media (max-width: 1024px) {
      margin: 0 30px;
    }
  }
    }


    .navbar-home{
        z-index: 2;
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 0em;
        margin-left: 6em;
        padding: 0;
        pointer-events: auto;
        margin-bottom: 2em;
      
        @media (max-width: 1024px) {
          margin: 0 30px;
          margin-top: 0em;
        }
      
        li {
          list-style: none;
          margin: 0;

          img{
              width: 9em;
          }
      
          a {
            text-decoration: none;
            color: white;
            padding: 8px 20px;
            border-radius: 14px;
            border: 1px solid rgba(255, 255, 255, 0);
            transition: 1s;
      
            :hover {
              border: 1px solid rgba(255, 255, 255, 0.2);
            }
          }
        }
      
        button {
          margin: 0;
          width: auto;
          background: rgba(31, 66, 250, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      
        @media (max-width: 800px) {
          justify-content: space-between;
          li:nth-child(2),
          li:nth-child(3),
          li:nth-child(4),
          li:nth-child(5) {
            display: none;
          }
        }
    }


    .spline{
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        width: 1200px;
        height: 1000px;

        @media (max-width: 1024px) {
            transform: scale(0.8) translateX(200px);
            transform-origin: top;
          }
          @media (max-width: 800px) {
            transform: scale(0.7) translateX(600px);
          }
          @media (max-width: 600px) {
            transform: scale(0.5) translateX(-100px);
            right: auto;
            left: 50%;
            margin-left: -600px;
          }
          @media (max-width: 375px) {
            transform: scale(0.45) translateX(-50px);
          }
    }

}